[submodule "claude/.claude/references/ai-sdk"]
	path = claude/.claude/references/ai-sdk
	url = https://github.com/vercel/ai
[submodule "claude/.claude/references/tanstack-router-and-start"]
	path = claude/.claude/references/tanstack-router-and-start
	url = https://github.com/TanStack/router
[submodule "claude/.claude/references/tanstack-db"]
	path = claude/.claude/references/tanstack-db
	url = https://github.com/TanStack/db
[submodule "claude/.claude/references/tanstack-table"]
	path = claude/.claude/references/tanstack-table
	url = https://github.com/TanStack/table
[submodule "claude/.claude/references/tanstack-form"]
	path = claude/.claude/references/tanstack-form
	url = https://github.com/TanStack/form
[submodule "claude/.claude/references/xlsx"]
	path = claude/.claude/references/xlsx
	url = https://git.sheetjs.com/sheetjs/sheetjs
[submodule "claude/.claude/references/xlsx-docs"]
	path = claude/.claude/references/xlsx-docs
	url = https://git.sheetjs.com/sheetjs/docs.sheetjs.com
