[submodule "claude/.claude/references/ai-sdk"]
	path = claude/.claude/references/ai-sdk
	url = https://github.com/vercel/ai
	shallow = true
[submodule "claude/.claude/references/tanstack-router-and-start"]
	path = claude/.claude/references/tanstack-router-and-start
	url = https://github.com/TanStack/router
	shallow = true
[submodule "claude/.claude/references/tanstack-db"]
	path = claude/.claude/references/tanstack-db
	url = https://github.com/TanStack/db
	shallow = true
[submodule "claude/.claude/references/tanstack-table"]
	path = claude/.claude/references/tanstack-table
	url = https://github.com/TanStack/table
	shallow = true
[submodule "claude/.claude/references/tanstack-form"]
	path = claude/.claude/references/tanstack-form
	url = https://github.com/TanStack/form
	shallow = true
[submodule "claude/.claude/references/xlsx"]
	path = claude/.claude/references/xlsx
	url = https://git.sheetjs.com/sheetjs/sheetjs
	shallow = true
[submodule "claude/.claude/references/xlsx-docs"]
	path = claude/.claude/references/xlsx-docs
	url = https://git.sheetjs.com/sheetjs/docs.sheetjs.com
	shallow = true
[submodule "claude/.claude/references/nitro"]
	path = claude/.claude/references/nitro
	url = https://github.com/nitrojs/nitro
	shallow = true
[submodule "claude/.claude/references/datadog-dd-trace"]
	path = claude/.claude/references/datadog-dd-trace
	url = https://github.com/DataDog/dd-trace-js.git
	shallow = true
[submodule "claude/.claude/references/nf3"]
	path = claude/.claude/references/nf3
	url = git@github.com:unjs/nf3.git
	shallow = true
[submodule "claude/.claude/references/nft"]
	path = claude/.claude/references/nft
	url = git@github.com:vercel/nft.git
	shallow = true
[submodule "claude/.claude/references/datadog-agent"]
	path = claude/.claude/references/datadog-agent
	url = https://github.com/DataDog/datadog-agent
	shallow = true
[submodule "claude/.claude/references/datadog-documentation"]
	path = claude/.claude/references/datadog-documentation
	url = https://github.com/DataDog/documentation
	shallow = true
[submodule "claude/.claude/references/fleetdm-fleet"]
	path = claude/.claude/references/fleetdm-fleet
	url = https://github.com/fleetdm/fleet
	shallow = true
[submodule "claude/.claude/references/datadog-opentelemetry-examples"]
	path = claude/.claude/references/datadog-opentelemetry-examples
	url = https://github.com/DataDog/opentelemetry-examples
	shallow = true
[submodule "claude/.claude/references/datadog-labs-pup"]
	path = claude/.claude/references/datadog-labs-pup
	url = https://github.com/datadog-labs/pup
	shallow = true
