snippet beg "begin{} / end{}" bA
\begin{$1}
	$0
\end{$1}
endsnippet

snippet bf "Bold"
\textbf{$1} $0
endsnippet

snippet ita "Italics"
\textit{$1} $0
endsnippet

snippet und "Underline"
\underline{$1} $0
endsnippet

snippet ques "Question"
\question $1
\vspace*{3cm}
endsnippet
